// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 BayLibre, SAS
 * Author: Neil Armstrong <narmstrong@baylibre.com>
 */

#include "meson-sm1-u-boot.dtsi"

/ {
	/* Powers the SATA Disk 0 regulator, which is enabled when a disk load is detected */
	p12v_0: regulator-p12v_0 {
		compatible = "regulator-fixed";
		regulator-name = "P12V_0";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		vin-supply = <&main_12v>;

		gpio = <&gpio GPIOH_8 GPIO_OPEN_DRAIN>;
		enable-active-high;
		regulator-always-on;
	};

	/* Powers the SATA Disk 1 regulator, which is enabled when a disk load is detected */
	p12v_1: regulator-p12v_1 {
		compatible = "regulator-fixed";
		regulator-name = "P12V_1";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		vin-supply = <&main_12v>;

		gpio = <&gpio GPIOH_8 GPIO_OPEN_DRAIN>;
		enable-active-high;
		regulator-always-on;
	};
};

&ethmac {
	snps,reset-gpio = <&gpio GPIOZ_15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	snps,reset-delays-us = <0 10000 1000000>;
	snps,reset-active-low;
};

/* SARADC is needed for proper board variant detection */
&saradc {
	status = "okay";
	vref-supply = <&vddao_1v8>;
};

&spifc {
	status = "okay";
	pinctrl-0 = <&nor_pins>;
	pinctrl-names = "default";

	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <104000000>;
	};
};

&tflash_vdd {
	gpio = <&gpio_ao GPIOAO_3 GPIO_OPEN_DRAIN>;
};

&tf_io {
	vin-supply = <&vcc_5v>;
	enable-gpio = <&gpio GPIOE_2 GPIO_ACTIVE_HIGH>;
	enable-active-high;
	regulator-always-on;
	gpios = <&gpio_ao GPIOAO_6 GPIO_OPEN_SOURCE>;
};

&usb {
	phys = <&usb2_phy1>;
	phy-names = "usb2-phy1";
};

&usb2_phy0 {
	status = "disabled";
};

&vcc_5v {
	gpio = <&gpio GPIOH_8 GPIO_OPEN_DRAIN>;
	enable-active-high;
};
