// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Fuzhou Rockchip Electronics Co., Ltd.
 */

/dts-v1/;
#include "rv1126.dtsi"
#include "rv1126-u-boot.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Rockchip RV1126 Evaluation Board";
	compatible = "rockchip,rv1126-evb", "rockchip,rv1126";

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-spl;
		status = "okay";

		volumeup-key {
			u-boot,dm-spl;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <0>;
		};

		menu-key {
			u-boot,dm-spl;
			linux,code = <KEY_MENU>;
			label = "menu";
			press-threshold-microvolt = <1198828>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		u-boot,dm-spl;
		status = "okay";

		button@0 {
			u-boot,dm-spl;
			gpio-key,wakeup = <1>;
			gpios = <&gpio3 24 GPIO_ACTIVE_LOW>;	
			label = "GPIO Key_F15";
			linux,code = <KEY_F15>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwrbtn>;
		};
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <650000>;
		regulator-max-microvolt = <950000>;
		regulator-init-microvolt = <800000>;
		regulator-always-on;
		regulator-boot-on;
		u-boot,dm-spl;
		status = "okay";
	};

	vdd_npu: vdd-npu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_npu";
		regulator-min-microvolt = <650000>;
		regulator-max-microvolt = <950000>;
		regulator-init-microvolt = <800000>;
		regulator-always-on;
		regulator-boot-on;
		u-boot,dm-spl;
		status = "okay";
	};

	vdd_vepu: vdd-vepu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_vepu";
		regulator-min-microvolt = <650000>;
		regulator-max-microvolt = <950000>;
		regulator-init-microvolt = <800000>;
		regulator-always-on;
		regulator-boot-on;
		u-boot,dm-spl;
		status = "okay";
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
	u-boot,dm-spl;
};

&pwm0 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm0m0_pins_pull_down>;
	u-boot,dm-spl;
};

&pwm1 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm1m0_pins_pull_down>;
	u-boot,dm-spl;
};

&uart2 {
	status = "okay";
};

&emmc {
	bus-width = <8>;
	mmc-hs200-1_8v;
	status = "okay";
};

&pinctrl {
	keys {
		pwrbtn: pwrbtn {
			rockchip,pins = <3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
